<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/testAutoloader.php">
  <testsuites>
    <testsuite name="Application Test Suite">
      <directory>tests/*Test.php files</directory>
      <exclude>tests/testAutoloader.php</exclude>
    </testsuite>
  </testsuites>
</phpunit>
