<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/testAutoloader.php">
  <testsuites>
    <testsuite name="Application Test Suite">
      <directory>tests/</directory>
      <file phpVersion="5.4.0" phpVersionOperator=">=">tests/Registration.php</file>
      <exclude>tests/testAutoloader.php</exclude>
    </testsuite>
  </testsuites>
</phpunit>
