/* Stylesheet / CSS */


html {
	min-height: 100%;
	border:none;
} :focus {outline:0;}

body {
	height: 100%;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
	font-size: 13px;
	line-height: 20px;
	min-width: 998px;
	background:url(../images/BG.png) repeat;
}


#wrapper {
    margin: 0;
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }


#username_input {
	margin-left:25px;
	position:absolute;
	width:300;
	height:50px;
	margin-top:40px;
}

#username_inputleft {
	float:left;
	background:url(../images/input_left.png) no-repeat;
	width:12px;
	height:50px;
}

#username_inputmiddle {
	float:left;
	background:url(../images/input_middle.png) repeat-x;
	width:276px;
	height:50px;
}

#username_inputright {
	float:left;
	background:url(../images/input_right.png) no-repeat;
	width:12px;
	height:50px;
}

/* Username & Password  */

#url{
	display:block;
	width:276px;
	height:45px;
	background:transparent;
	border:0;
	color:#666;
	font-family:helvetica, sans-serif;
	font-size:14px;
	padding-left:20px;
}

#url_user {
	position:absolute;
	display:block;
	margin-top:-28px;
	float:left;
	padding-right:10px;
}

#password_input {
	margin-left:25px;
	position:absolute;
	width:300;
	height:50px;
	margin-top:100px;
}

#password_inputleft {
	float:left;
	background:url(../images/input_left.png) no-repeat;
	width:12px;
	height:50px;
}

#password_inputmiddle {
	float:left;
	background:url(../images/input_middle.png) repeat-x;
	width:276px;
	height:50px;
}

#password_inputright {
	float:left;
	background:url(../images/input_right.png) no-repeat;
	width:12px;
	height:50px;
}

#url_password {
	display:block;
	position:absolute;
	margin-top:-32px;
	float:left;
	margin-left:4px;
}


/* Sign In Button */

#submit{
	float:left;
	position:relative;
	width:276px;
	height:40px;
	border:1px solid #D0D0D0 ;
}
