body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

label {
    position: relative;
    vertical-align: middle;
    bottom: 1px;
}

input[type=text],
input[type=password],
input[type=submit],
input[type=email] {
    display: block;
    margin-bottom: 15px;
}
input[type=checkbox] {
    margin-bottom: 15px;
}

#footer {
  font-family: sans-serif;
  width: 100%;
  bottom: 0;
  position: absolute;
  text-align: center;
  background: rgba(210, 210, 210, 0.8);
  color: rgba(0, 0, 0, 0.87);
  border-top: 1px solid rgba(0, 0, 0, 0.21);
  font-size: 0.8em;
}
