
body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
}

body {
  background: url(/assets/images/BGv2.png) repeat;
}

a, a:hover, a:visited {
  color: #252525;
  text-decoration: none;
}

#footer {
  font-family: sans-serif;
  width: 100%;
  bottom: 0;
  position: relative;
  text-align: center;
  background: rgba(210, 210, 210, 0.8);
  color: rgba(0, 0, 0, 0.87);
  border-top: 1px solid rgba(0, 0, 0, 0.21);
  font-size: 0.8em;
}

#page {
  margin: auto;
  width: 50%;
  bottom: 0px;
}

.form_input{
  width: 100%;
  height: 100%;
  border-style: none;
  border: #D0D0D0  1px solid;
}

.form_table{
  width: 80%;
  border: 1px solid #999;
  margin: auto;
  background-color: #fafafa;
}

/* Menu */

#menu_logo {
  text-align: center;
  padding: 0.5em;
}

#menu {
  width: 100%;
  background: #fff;
  border-bottom: 4px solid #000;
  overflow: hidden;
  z-index: 1000;
}
#menu ul {
  clear:left;
  float:left;
  list-style:none;
  margin:0;
  padding:0;
  position:relative;
  left:50%;
  text-align:center;
}

#menu ul li {
  display:block;
  float:left;
  list-style:none;
  margin:0;
  padding:0;
  position:relative;
  right:50%;
}
#menu ul li a {
  display:block;
  margin:0 0 0 1px;
  padding:3px 10px;
  background:#ddd;
  color:#000;
  text-decoration:none;
  line-height:1.3em;
}
#menu ul li a:hover {
  background:#369;
  color:#fff;
}
#menu ul li a.active,
#menu ul li a.active:hover {
   color:#fff;
   background:#000;
   font-weight:bold;
}

/* Reviews */
.review_box {
  padding: 0.1em 1em;
  background: rgb(167, 186, 194) none repeat scroll 0% 0%;
  margin-top: 1em;
  border-radius: 1em;
}

/* Comments */
.comments {

}
.comment {
  width: 50%;
  background: #DED9B2 none repeat scroll 0% 0%;
  padding: 0.1em 1em;
  margin-bottom: 0.5em;
  border-radius: 1em;
}
.comment .content {

}
.comment .author {
  font-size: 0.8em;
}

/* Login page */
#wrapper_login {
  position: relative;
  top: 50%;
  margin-top: -200px;
}

.logo {
  text-align: center;
}

.login-page-box {
    display: table;
    width: 100%;
    max-width: 500px;
    margin: auto;
    font-size: 0.9em;
}
.login-page-box .table-wrapper {
    display: table-row;
}

.login-box {
    display: table-cell;
    margin: 0;
    color: #777;
    padding: 20px 50px 45px 50px;
    width: 49%;
    box-sizing: border-box;
    font-weight: 400;
    text-transform: uppercase;
}
.login-box h2 {
    color: #252525;
}
.login-box input[type="text"],
.login-box input[type="password"],
.login-box input[type="email"] {
    font-family: Arial, sans-serif;
    color: #252525;
    background-color: #ffffff;
    padding: 10px 10px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box; /* modern way to say width:100% without padding */
    /*text-transform: uppercase;*/
}
.login-box input[type="submit"] {
    color: #777;
    background-color: #f4f3f1;
    border: 2px solid #777;
    padding: 10px 10px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box; /* modern way to say width:100% without padding */
    text-transform: uppercase;
}
.login-box input[type="submit"]:hover {
    color: #fff;
    border-color: #444342;
    background-color: #444342;
}
.login-box .remember-me-label {
    display: block;
    margin-bottom: 10px;
}
.login-box .link-forgot-my-password {
    display: block;
    text-align: center;
}
.login-box .link-forgot-my-password a {
    color: #777;
    text-decoration: none;
}
.login-box .link-forgot-my-password a:hover {
    text-decoration: underline;
}
.login-box .link-register {
    display: block;
    text-align: center;
}
.login-box .link-register a {
    color: #777;
    text-decoration: none;
}
.login-box .link-register a:hover {
    text-decoration: underline;
}
.login-box ::-webkit-input-placeholder { color: #777; opacity: 0.5; }
.login-box ::-moz-placeholder { color: #777; opacity: 0.5; }
.login-box :-ms-input-placeholder { color: #777; opacity: 0.5; }
.login-box input:-moz-placeholder { color: #777; opacity: 0.5; }
.login-box a { color: #777; }
